@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
 

.container {
    width: 100%;
    @include flexColumn;
    @include text;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: $border;
    > div {
        width: 100%;
        @include flexRow;
        justify-content: flex-start;
        margin-bottom: 1rem;
        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
            color: $yellow;
        }
    }
    input {
        margin: 0.25rem 0;
    }
    button {
        margin-top: 2rem;
    }
}