@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
 

.container {
    @include text;
    @include input;
    &::placeholder {
        color: $text_gray4;
    }
    &:read-only {
        background-color: $readOnly;
        caret-color: transparent;
    }
    &:focus {
        border: 1px solid $blue;
    }
}

@media screen and (max-width: 320px) {
    .container {
        &::placeholder {
            font-size: 0.9rem;
        }
    }
}