@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.container {
    position: fixed;
    top: $header-height;
    left: calc(#{$pc}/2 - #{$pc-width}/2);
    width: $pc-width;
    min-height: $min-page-height;
    margin-top: $content-margin-top;
    @include flexRow;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 1250px) {
    .container {
        width: $res-width;
        left: calc(#{$pc}/2 - #{$res-width}/2);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        display: none;
    }
}