@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
 

.container {
    width: 100%;
    border-top: $border;
    padding-top: 2rem;
}

.content {
    li {
        border-top: $border;
    }
    li:first-child {
        border: none;
    }
}