@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.container {
    width: 100%;
    height: auto;
    @include flexColumn;
}

.loginBtn {
    cursor: pointer;
    span {
        color: $red;
        border-bottom: 1px solid $red;
        cursor: pointer;
    }
    span:hover {
        font-weight: 600;
    }
}